
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewpoint" content="width=device-width", initial-scale="1">
    <title>My First Website</title>
</head>

<body>
    <h1> My First Website</h1>
    <h3>Hello Tolumide. You are awesome.</h3>
    <h2> Author's Profile</h2>

    This is my first html trying to explore the <b>markup language HTML and FLASK. I am excited!!!.</b>

    <p> I am <b>Toludoyin Shopein.</b> A proficient and vibrant <b>Data Scientist</b> who have invested effort into various project such as <i>customer segmentation analysis, predictive analysis, describtive and prescriptive analysis</i> with the end result of <u>effective insight and use cases</u>.
    </p>
    <br><br><br>
    <b>My project Gallery</b>
    <hr>
    <a href="https://www.google.com" target="blank">Github repo:</a> this host my Python work, SQL, PostgreSQL queries and Machine learning models.<br>
    <a>Tableau Public:</a> host my visualisation using tableau platform.<br>
    Kaggle: On python, sql and machine learning project using public dataset.<br>
    Datacamp: On python, sql and machine learning project using public dataset.

</body>
</html>



